body {
    background-color: black;
}


/* Home Page Background Video */
#mkBackground {
    position: fixed;
    justify-self: center;
    width: 100%;
    box-shadow: gray 1px 1px 15px;
    object-fit: cover;
    z-index: -1;
}

/* Home Page | Navegation Bar | TOP */
.homePageMainNavBar {
    display: flex;
    background-color: yellow;
    border: red solid 2px;
    width: 100%;
    height: 4vh;
    position: relative;
    z-index: 1;
    flex-wrap: wrap;
}

/* Home Page | Navegation Bar | TOP | Left | Global NAV */
.leftGlobalLinks {
    border: gray solid 2px;
    width: 20%;
    height: 3vh;
    align-self: center;
    margin-right: auto;
    flex-wrap: wrap;
}

/* Home Page | Navegation Bar | TOP | Right | Relative and Socail Media */
.rightRelativeandSocialMedia {
    border: gray solid 2px;
    width: 40%;
    height: 3vh;
    align-self: center;
    flex-wrap: wrap;
}